html{
    height: 100%;
}

.navBar{
    background-color: aquamarine;
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e700 0 -3px 0 inset;
}

.brand-logo{
    display: inline-block;
    height: 30px;
    transform: scale(0.3);
    margin-left: -5%;
    transition: box-shadow .15s,transform .15s;
}

.brand-logo:hover{
    display: inline-block;
    height: 15px;
    margin-left: -5%;
    transform: scale(0.35);
}

.login-right{
    padding-top: 5px;
    padding-right: 10px;
    float: right;
    align-items: center;
    font-size: large;
}

.login-btn{
    border-radius: 255px;
    border-style: solid;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 45px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.login-btn:focus{
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.login-btn:hover{
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.login-btn:active{
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.division-one{
    background-color: rgba(106, 214, 178, 0.705);
    color: rgba(106, 214, 178, 0);
    height: 20px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e700 0 -3px 0 inset;
}

.division-two{
    background-color: rgba(74, 151, 127, 0.514);
    color: rgba(106, 214, 178, 0);
    height: 10px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e700 0 -3px 0 inset;
}

.title{
    font-size: 60px;
    font-weight: 800;
    font-family: Bookman, URW Bookman L, serif;
    color: #000000b2;
}

.imagem{
    text-align: center;
    margin: 0px 0;
    background-color: #d3ffed;
}

body{
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(219, 255, 255);
}

img{
    max-width: 200px;
    height: auto;
}

.descricao{
    padding: 20px;
}

h3{
    font-size: 14px;
    margin-bottom: 10px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.formulario{
    background-color: rgb(127, 240, 255);
    padding: 20px;
    text-align: center;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(255, 255, 255);
}

footer{
    background-color: rgb(74, 47, 173);
    color: #ffffff;
    text-align: center;
    padding: 10px;
}